/NActivitySensor/bin
/NActivitySensor/obj
/NActivitySensor.BuildActivitySensor/bin
/NActivitySensor.BuildActivitySensor/obj
/NActivitySensor.MSSql/bin
/NActivitySensor.MSSql/obj
/NActivitySensor.Core/bin
/NActivitySensor.Core/obj
/NActivitySensor.Models/bin
/NActivitySensor.Models/obj
/*.suo
