/NActivitySensor/bin
/NActivitySensor/obj
/NActivitySensor.BuildActivitySensor/bin
/NActivitySensor.BuildActivitySensor/obj
/NActivitySensor.MsSqlReporter/bin
/NActivitySensor.MsSqlReporter/obj
/NActivitySensor.Core/bin
/NActivitySensor.Core/obj
/*.suo
